{% extends 'BASE.html' %}
{% load static %}

<!--  اتصال به صفهه پایه با بلوک بادی و اند بلوک -->
{% block body %}
<style>
    .fonet {
        font-family: fantasy;
        font-size: xx-large;
        font-size: 60px;
    }
</style>

<section class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-uppercase"> Learn and see more </h2>
            <hr class="templatemo-section-header-hr">
            <p class="text-uppercase templatemo-section-subheader"> Select section... </p>
        </div>
    </div>
    <div class="row">
        <a href="{% url 'Artwork:Artwork' %}">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="new-arrival-container product-type-container ">
                    <div class="new-arrival-overlay product-type-overlay">
                        <h3 class="text-uppercase new-arrival-title product-type-info">
                            <span class="font-family">Art works</span>
                            <span class="smaller-text">Collection</span>
                        </h3>
                    </div>
                    <img src="{% static 'img/napoleon.jpg' %}" alt="New Arrival 1" class="img-responsive">
                </div>
            </div>
        </a>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
            <div>
                <div>
                    <h3 class="text-uppercase">
                        <br>
                        <p class="fonet gold-text"> choose <br> what <br> to <br> read <br> and <br> watch?
                        </p>
                    </h3>
                </div>
            </div>
        </div>

        <a href="{% url 'Artist:blog-Artist'%}">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="new-arrival-container product-type-container">
                    <div class="new-arrival-overlay product-type-overlay">
                        <h3 class="text-uppercase new-arrival-title product-type-info">
                            <span class="font-family">Artists </span>
                            <span class="smaller-text">Collection</span>
                        </h3>
                    </div>
                    <img src="{% static 'img/Van-Gogh.jpg' %}" alt="New Arrival 1" class="img-responsive">
                </div>
            </div>
        </a>
    </div>
</section> <!-- end "New Arrivals" -->

<!-- "why paint!? " -->
<section class="templatemo-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-uppercase">Why Painting and our site ? </h2>
                <hr class="templatemo-section-header-hr">
                <p class="text-uppercase templatemo-section-subheader"> Our opinions </p>
            </div>
        </div>
        <div class="row">
            <!-- Left block, images -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="gold-border">
                    <div class="product-type-message">
                        <h3 class="text-uppercase fonet"> Why painting and drawing ?
                            and why our site ?</h3>
                        <p class="gray-text" style="font-size:medium;">Why Painting, Drawing, and Why Our Site? 🎨
                            More than just a simple hobby, painting and drawing are gateways to inner worlds and
                            boundless creativity. 🤩 These art forms allow us to express our emotions, thoughts, and
                            ideas through a visual language that words sometimes can’t capture. It doesn't matter if
                            you're a professional artist or just enjoy doodling for relaxation; art helps you see the
                            world from a different angle, discover details, and even challenge perceptions. 🤔 With
                            every line and color you put on canvas or paper, you're essentially immortalizing a piece of
                            your being, and that in itself is a unique and therapeutic experience. ✨
                            Now, why our site? 🤔 Well, our site is like a grand gallery where new artworks are added
                            every day. 🖼️ Here, you can not only find inspiration and view the works of other artists,
                            but you also have a safe and vibrant platform to share your own art. 🤝 We've provided a
                            space where you can display your works without judgment, receive feedback, and learn from
                            the experiences of others. Our goal is to build an active and friendly art community where
                            everyone can grow and share their art with the world. 💖 So, if you're looking for a place
                            where you can both learn and be seen, our site is the best choice! .</p>
                        <p class="gray-text">Here we examine and explain paintings and drawings to learn more about art!
                            Because art never dies🫀...!</p>
                    </div>
                </div>
            </div>
            <!-- Right block, text -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="gold-border">
                    <div class="product-type-message">
                        <h3 class="text-uppercase fonet"> The Value of Art & Why Painting is Crucial to History ?</h3>
                        <p class="gray-text" style="font-size:medium;">What is the value of art?<br> Art is a fundamental
                            expression of human creativity, emotions, and ideas. Its value lies in providing aesthetic
                            pleasure, stimulating our senses and emotions. <br> It offers a deep way to express and
                            communicate feelings that words often can't capture. <br> Art also encourages critical
                            thinking and new perspectives, challenging us to see the world differently, 🤔 and nurturing
                            our creativity and imagination, truly feeding the human spirit. <br>
                            Why should we consider art, especially painting, an important part of history? Art and
                            painting are crucial to history because they serve as a visual record of human history and
                            culture; they're like time capsules, showing us the lives, beliefs, and environments of past
                            civilizations. 🖼️ They're also reflections of social, political, and economic contexts, as
                            art often mirrors the conditions of its time, helping us understand the forces that shaped
                            societies. 🌍 Furthermore, art is an expression of philosophical and religious beliefs, with
                            many artworks embodying deep spiritual and philosophical ideas from throughout history. <br>
                            Paintings are also indicators of technological and artistic innovation, as changes in
                            painting techniques reflect human ingenuity and progress. 💡 Finally, art provides a
                            foundation for understanding contemporary culture, since our present culture is deeply
                            rooted in historical artistic traditions, helping us grasp why we create and appreciate what
                            we do today. 🏙️ In short, art, especially painting, isn't just about pretty pictures; it's
                            a vibrant archive of human experience, a profound expression of our shared humanity, and an
                            essential tool for understanding our past, present, and future!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- end Product Type -->

<!-- maybe you want too see -->
<section class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-uppercase">Maybe you want to see! </h2>
            <hr class="templatemo-section-header-hr">
            <p class="text-uppercase templatemo-section-subheader"> Sections ... </p>
        </div>
    </div>
    <!-- Arts of Artist -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center ">
            <h3 class="text-uppercase"><span class="gold-text fonet">Art</span> of Artist </h3>
            <p> Some of the works of great Artist </p>
            <a href="{% url 'Artwork:Artwork'%}" class="text-uppercase btn-gray-bordered">View More</a>
        </div>
        {% for Art in Arts %}
        <a href="{% url 'Artwork:single-Artwork' pid=Art.id %}">
            <div class="product-type-container">
                <div class="product-type-overlay">
                    <div class="product-type-info">
                        <h3
                            class="text-uppercase gold-text                                                                                                                                     ">
                            {{Art.title}}</h3>
                        <p class="text-uppercase white-text">{{Art.artist}}</p>
                    </div>
                </div>
                <img src="{{Art.image.url}}" alt="Men fashion 1"
                    class="img-fashion gold-border post-img img-responsive product-type-img fa.white-border gold-border">
            </div>
        </a>
        {% endfor %}
    </div>
    <hr>
    <!-- Artist -->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 margin-bottom-10 text-center">
            <h3 class="text-uppercase"><span class="gold-text fonet">Artist </span> from history </h3>
            <p>Artists from the heart of history .</p>
            <a href="{% url 'Artist:blog-Artist' %}" class="text-uppercase btn-gray-bordered">View More</a>
        </div>
        {% for Artist in Artists %}
        <a href="{% url 'Artist:single' pid=Artist.id %}">
            <div class="product-type-container">
                <div class="product-type-overlay">
                    <div class="product-type-info">
                        <h3 class="text-uppercase white-text">{{Artist.title}}</h3>
                    </div>
                </div>
                <img src="{{Artist.image.url}}" alt="Men fashion 1"
                    class="img-fashion gold-border post-img img-responsive product-type-img fa.white-border gold-border">
            </div>
        </a>
        {% endfor %}
    </div>
</section> <!-- end "Our Products" -->
{% endblock %}