{% extends 'BASE.html' %}
{% load static %}
{% block body %}
<!-- start banner Area -->
<!-- "Latest News" -->

<style>
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.fonet {
		font-family: fantasy;
		font-size: xx-large;
		font-size: 60px;
	}

	.fonnet {
		font-size: small;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-weight: bold;
		display: inline-block;
		margin-left: 80px;
	}

	.black-text {
		color: rgb(0, 0, 0);
	}

	.form-control-edit {
		background: #c3c3c3;
		color: #000000;
	}
</style>
<div class="container">
	<div class="row">
		<!-- Main content -->
		<section class="col-lg-8 col-md-8">
			<div class="row">
				<div class="col-lg-12">
					<h2 class="text-uppercase">{{ Art.title}}</h2>
					<hr class="templatemo-section-header-hr">
					<a href="{% url 'Artist:blog-Artist'%}">
						<p class="text-uppercase templatemo-section-subheader margin-bottom-0">View All Artwork</p>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12">
							<article class="templatemo-blog-post">
								<div class="post-img-container">
									<img src="{{Art.image.url}}" alt="image for this post"
										class="post-img img-responsive">
								</div>
								<br>
								<div class="single-post row">
									<div class="text-uppercase">
										<ul>
											<a href="{% url 'Artist:blog-Artist' %}" title="view all great Artist">
												<li class="fonnet gold-text">{{Art.artist}}</li>
											</a>
											<li class="fonnet">View : {{Art.content_view}}</li>
											<li class="fonnet">release time : {{Art.poblished_date|date:"SHORT_DATE_FORMAT"}}</li>
										</ul>
									</div>
									<br>
									<div class="col-lg-3  col-md-3 meta-details">
									</div>
									<div class="col-lg-90 col-md-6 col-sm-12 col-xs-12">
										<div class="gold-border">
											<div class="product-type-message">
												<h3><strong>{{ Art.title}}</strong></h3>
												{{Art.content|safe}}
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
			<br><br><br>
			<div class="aside-block">
				<h4 class="text-uppercase"><i>Category </i></h4>
				<hr class="gold-hr">
				<ul class="tag-list">
					{% for name in Art.category.all %}
					<li class="text-uppercase"><a href="{% url 'Artwork:category' cate=name%}">{{name}}</a></li>
					{% endfor %}
				</ul>
			</div> <!-- /.aside-block -->
		</section>
		<br><br><br><br><br><br>
		<aside class="col-lg-4 col-md-4 templatemo-blog-post-aside">
			<!-- تگ های مربوط به پست ها-->
			<div class="aside-block">
				<h4 class="text-uppercase"><i>Tags</i></h4>
				<hr class="gold-hr">
				<ul class="tag-list">
					{% for tag in Art.tags.all %}
					<li class="text-uppercase"><a href="{% url 'Artwork:tag' tag=tag.name %}">{{tag.name}}</a></li>
					{% endfor %}
				</ul>
			</div> <!-- /.aside-block -->
			<br><br>
			<div class="aside-block">
				<h4 class="text-uppercase"><i>Other posts</i></h4>
				{% for Art in Arts|slice:":3" %}
				<hr class="gold-hr">
				<p class="text-uppercase product-type-container ">
					<a href="{% url 'Artwork:single-Artwork' pid=Art.id %}" class="black-text">
						<img src="{{Art.image.url}}" alt="image for this post"
							class="post-img img-responsive product-type-img product-type-info fa.white-border img-collection gold-border"
							height="50px" width="80px">
						<br>
						<strong> &blacktriangleright; {{ Art.title}}</strong></a>
				</p>
				<p> {{Art.content|truncatewords:10|safe}}</p>
				{% endfor %}
			</div> <!-- /.aside-block -->
		</aside>
	</div>
		<div class="comments-area">
			<hr>
			<br><br>
			<h4 class="text-uppercase text-center"><i><strong>{{ comments|length }} Comments</strong></i></h4>
			{% if comments %}
			{% for comment in comments %}
			<hr class="gold-hr">
			<p class="text-uppercase"><img src="{% static 'img/User Avatar.jpg' %}" alt="" height="50px"
					width="50px"><strong> &RightArrow; {{comment.name}} </strong> --- {{comment.created_date}}
			</p>
			<p class="comment">
				{{comment.message}}
			</p>
			{% endfor %}
			<hr>
			{% else %}
			<p class="text-center">no comment for this post , you don't have comment? </p>
			<br>
			<hr>
			{% endif %}
		</div>
	<br><br>
</div>
<section class="templatemo-container padding-0">
	<div class="templatemo-block-left contact">
		<div class="templatemo-contact-info">
			<h2 class="text-uppercase">Comment</h2>

			<hr class="templatemo-section-header-hr w-120">
			<p class="text-uppercase templatemo-section-subheader">write your comments </p>
			<form action="{% url 'Artwork:single-Artwork' pid=Art.id %}" method="post" class="tm-contact-form">
				{% csrf_token %}
				<input type="hidden" name="post" value="{{Art.id}}">
				{% if request.user.is_authenticated %}
				<input type="hidden" name="name" value="{{ request.user.username}}">
				<input type="hidden" name="email" value="{{request.user.email}}">
				{% else %}
				<input type="text" id="contact_name" name="name" class="form-control form-control-edit"
					placeholder="Name..." />
				<input type="email" id="contact_email" name="email" class="form-control form-control-edit"
					placeholder="Email..." />
				{% endif %}

				<div class="tm-contact-form">
					<br>
					<input type="text" id="contact_subject" name="subject" class="form-control form-control-edit"
						placeholder="Subject..." />
					<textarea id="contact_message" name="message" class="form-control form-control-edit" rows="8"
						placeholder="Message..."></textarea>
				</div>
				<hr class="gold-hr">
				<button type="submit" name="submit" class="btn text-uppercase templatemo-btn-gold">Submit</button>
			</form>
		</div>
	</div>
</section>

<!-- End post-content Area -->
{% endblock %}